div.col-xs-12
    div.row
        each highlight_center in highlights_center
            div.col-xs-12
                div(ng-include="'#{highlight_center.route}'")

div.col-md-8.col-xs-12
    div.row
        each highlight_left in highlights_left
            div.col-xs-12
                div(ng-include="'#{highlight_left.route}'")
div.col-md-4.col-xs-12
    div.row
        each highlight_right in highlights_right
            div.col-xs-12
                div(ng-include="'#{highlight_right.route}'")