extends layout 

append htmltag
    //- html(ng-app='IntrepidJS', i18n-locale=i18n.getLocale())
    html(i18n-locale=i18n.getLocale())    

block content
    //- a(ui-sref='/admin/dist')= __('Design your home')
    //- br
    //- a(ui-sref='/admin/modules')= __('Toggle your modules')
    //- br
    div.row
        div.col-xs-12
            div(ui-view="main_content")




//- append header
//-     include header
//- append content
    //- div(ng-controller='IndexController')
    //-     .row
    //-         .col-md-offset-2.col-md-8
    //-             h4 Insert the text you want
    //-             include entries/entry
    //-     .row
    //-         .col-md-offset-2.col-md-8
    //-             div(ng-view)
    //-                 include entries/entries

//- append scripts
//-     script(type='text/javascript', src="/javascripts/core/controllers/index_controller.js")
//-     script(type='text/javascript', src="/javascripts/core/services/socketio_service.js")
//-     script(type='text/javascript', src="/javascripts/core/services/rest_service.js")