#chat {
    position: fixed;
    right: 4px;
    bottom: 4px;
    border-radius: 4px;
    box-shadow: 0 0 6px #586771;
    z-index: 20000;
}

#chat-header {
    width: 300px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #73aec6;
    padding: 4px;
}

#chat-header > .chat-buttons {
    text-align: right;
}

#chat-header > .chat-buttons > .chat-close {
    cursor: pointer;
}

#chat-container {
    width: 230px;
    height: 300px;
    float: left;
    background-color: white;
}

.chat-name {
    padding-left: 5px;
    font-weight: bold;
}

#chat-content {
    overflow-y: scroll;
    padding: 8px;
    height: 266px;
    position: fixed;
    width: 230px;
}

#chat-text {
    position: absolute;
    bottom: 0;
    width: 230px;
}

#chat-content .chat-message-me,
#chat-content .chat-message-other {
    clear: both;
    padding-bottom: 5px;
}
#chat-content .chat-message-me > .chat-message,
#chat-content .chat-message-other > .chat-message {
    border: 1px solid;
    border-radius: 4px;
    margin-bottom: 7px;
    display: table;
    padding: 3px 6px;
}

#chat-content .chat-message-me > img {
    width: 30px;
    float: left;
}

#chat-content .chat-message-other > img {
    width: 30px;
    float: right;
}

#chat-content .chat-message-me > .chat-message {
    border-color: #AC92EC;
    background-color: #DCD7E9;
}
#chat-content .chat-message-other > .chat-message {
    border-color: #48CFAD;
    float: right;
    background-color: #C2D6D1;
}

#chat-users {
    width: 70px;
    height: 300px;
    float: left;
    background-color: #586771;
    overflow-y: scroll;
}
#chat-users::-webkit-scrollbar,
#chat-content::-webkit-scrollbar {
    display: none;
}

#chat-users > ul.chat-users {
    list-style: none;
    padding-left: 0;
}

#chat-users > ul.chat-users > li.chat-user {
    border-bottom: 1px solid #6F7A83;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    position: relative;
}

#chat-users > ul.chat-users > li.chat-user.active {
    background-color: #6F7A83;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAACXBIWXMAAAsTAAALEwEAmpwYAAAB2mlDQ1BQaG90b3Nob3AgSUNDIHByb2ZpbGUAAHjanZJNa1NBFIafSSR1UUuRCC4HNyYYBcFNFMR81CiX4YbbLpLg5vbONLnY+8Fkbm13gv4M/QcuunLnP/ADKbj2R4jLxEWMpkoX7bN6Z+a8nPNyBsrvvI7aLm1Ckjob9NpyMBzJtc+sI7jKfa6F0TRX2493ADy/2wp8pfiLgJ/fEAAntzy/2+J8rEe5dSCqwBNtphGIZ8CrFy53IL4DVbsTdED8ADbGK3p3RdvBcASlS0B1vNDXgeruQjeAqk5SDaVHQKoTraF0DHxNkkxD+TVQc+bQAXSy/MjG44mTtagut8KpS8JUepkOn8tOluRhetSQd5vNZkOG+/vSxuOJm0prpsYeGH2HRRYArvRt1p9kLpNBr70MvjGb08eS0WdChiNDEtCjfabnvAyGI7lQf3bUiAp7sNyd+LRa8/EePP1w2nfjDbx/ePrucgWowMntlYwVz++2vGXjtdkcD58uLbz/ny/KSr+bgdkz1qSRkX7h8sJJZXRcJFIZZ+OoFvhK1aVcOmuzOQGGPQwWQ0qEQeJT4MgpcEgUBk1MQfL75LDERNQI8FEo6kjkBSY4i8XfA6hswtuyEEIcf3nw8t+6X6pCmakR9IQ5AAAAIGNIUk0AAIcKAACMDQABHv0AAGeiAAA+WAABSEcAAA5MAAAACpy2nVUAAABpSURBVHjahNAxCsJQEEXRwdI2e0lnZZEqmMoNprAXO1NnFxHch3isgl/5TC5Md3mPeYERHSK78OWGQyYuhfzGBW1NfKrz05CJKxP6XWzTRMQ+S5xxKqsff8Idx9ozryJhyOa54rw1+GcA9ac1Q4fYwDUAAAAASUVORK5CYII=);
    background-position: left center;
    background-repeat: no-repeat;
}

#chat-users > ul.chat-users > li.chat-user:hover {
    background-color: #6F7A83;
}

#chat-users > ul.chat-users > li.chat-user:last-child {
    border-bottom: 0;
}

#chat-users > ul.chat-users > li.chat-user > img {
    width: 40px;
}

#chat-users > ul.chat-users > li.chat-user > span.badge {
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #FF2525;
}

#chat-users > ul.chat-users > li.chat-user > .state {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 5px; 
    left: 9px;
}

#chat-users > ul.chat-users > li.chat-user > .state.online {
    background-color: #0F0;
}

#chat-users > ul.chat-users > li.chat-user > .state.offline {
    background-color: #AFAFAF;
}

.globalUnread {
    background-color: #ED5565;
}

[openchat] {
    cursor: pointer;
}