block content
    form.form-signup.panel.panel-body(role='form', action="/accounts/signup", method="post")
      h2.form-signup-heading= __('Please sign up')
      
      div.form-group.has-feedback(ng-class="[errors.username ? 'has-error' : '', !errors.username && username ? 'has-success' : '']")
        input.form-control.username(type='text', placeholder='Username', name="username", autofocus='', ng-model="username", ng-blur="checkUser()")
        i.glyphicon.form-control-feedback(ng-if="username", ng-class="errors.username ? 'glyphicon-remove' : 'glyphicon-ok'")
      
      div.form-group.has-feedback(ng-class="[errors.email ? 'has-error' : '', !errors.email && email ? 'has-success' : '']")
        input.form-control.email(type='text', placeholder='Email', name="email", ng-model="email")
        i.glyphicon.form-control-feedback(ng-if="email", ng-class="errors.email ? 'glyphicon-remove' : 'glyphicon-ok'")
      
      div.form-group.has-feedback(ng-class="[errors.password ? 'has-error' : '', !errors.password && password ? 'has-success' : '']")
        input.form-control.password(type='password', placeholder='Password',name="password", ng-model="password")
        i.glyphicon.form-control-feedback(ng-if="password", ng-class="errors.password ? 'glyphicon-remove' : 'glyphicon-ok'")
      
      button.btn.btn-lg.btn-primary.btn-block(type='submit', ng-disabled="disabled")= __('Sing up')
    br
    .row(ng-if="!_.isEmpty(errors)")
        .col-xs-8.col-xs-offset-2
            .alert.alert-danger
                p(ng-repeat="(e, v) in errors")
                    b {{e}}: 
                    {{v.message}}
