block content
    form.form-signin.panel.panel-body(role='form', action="/accounts/signup", method="post")
      h2.form-signin-heading= __('Please sign up')
      input.form-control(type='text', placeholder='Username', name="username", required='', autofocus='')
      input.form-control(type='password', placeholder='Password',name="password", required='')
      button.btn.btn-lg.btn-primary.btn-block(type='submit')= __('Sing up')
