div(ng-controller="CarouselHighlightController")
    div.carousel.slide#carousel-home(data-ride="carousel", ng-if="images")
        ol.carousel-indicators
            li.active(data-target="#carousel-home", data-slide-to="0")
            li(data-target="#carousel-home", data-slide-to="1")
            li(data-target="#carousel-home", data-slide-to="2")
        div.carousel-inner
            div.item.active(ng-style="{'background-image': 'url({{images[0].image}})','height': '300px','background-size': 'cover','background-position': '50% 50%'}")
            div.item(ng-style="{'background-image': 'url({{images[1].image}})','height': '300px','background-size': 'cover','background-position': '50% 50%'}")
            div.item(ng-style="{'background-image': 'url({{images[2].image}})','height': '300px','background-size': 'cover','background-position': '50% 50%'}")
        a.left.carousel-control(href="#carousel-home", role="button", data-slide="prev")
            span.glyphicon.glyphicon-chevron-left
        a.right.carousel-control(href="#carousel-home", role="button", data-slide="next")
            span.glyphicon.glyphicon-chevron-right



