div.well(style="margin-top: 15px;")
    div.row
        div.col-xs-9(ng-init="timeline=false")
            h5.title Twitter timeline
                &nbsp;
                a.btn.btn-default.btn-xs(ng-click="timeline=!timeline")
                    span= __('Show actions')
            p Set timeline settings
        div.col-xs-3
            toggle-switch.pull-right.switch-small(model="module.enabled")
        div.col-xs-12(ng-slide-show="timeline")
            p Actions