div.row
    div.col-xs-12
        a.twitter-timeline(data-dnt="true", href="https://twitter.com/lammoth2", data-widget-id="505302903452495872") Tweets por @lammoth2
        script(type='text/javascript', src="/javascripts/widgets/twitter/timeline.js")
    div.col-xs-12.col-md-6
        div.panel
            div.panel-body
                div#module_volume_graph(style="height: 300px;")
    div.col-xs-12.col-md-6
        div.panel
            div.panel-body
                div#users_evolution_graph(style="height: 300px;")
        