div.row
    div.col-xs-12.col-md-6
        div.panel
            div.panel-body
                div#module_volume_graph(style="height: 300px;")
                    div.alert.alert-warning(ng-hide="!volumeGraph")= __('No modules yet!')
    div.col-xs-12.col-md-6
        div.panel
            div.panel-body
                div#users_evolution_graph(style="height: 300px;")
        