div.row
    div.col-xs-12
        h4.title= __('Manage your social networks')
        hr
div.row
    div.col-xs-12
        a.twitter-timeline(data-dnt="true", href="https://twitter.com/lammoth2", data-widget-id="505302903452495872") Tweets por @lammoth2
        script(type='text/javascript', src="/javascripts/widgets/twitter/timeline.js")
div.row
    each social_network in social_networks
        

        